# Copy to .env and fill
PORT=4000
DATABASE_URL="file:./dev.db"
PAYPAL_ENV=sandbox
PAYPAL_CLIENT_ID=your-paypal-sandbox-client-id
# Do NOT commit your PAYPAL_CLIENT_SECRET to source control
PAYPAL_CLIENT_SECRET=your-paypal-sandbox-secret
# After creating a webhook in PayPal dashboard, set this to the webhook id
PAYPAL_WEBHOOK_ID=your-paypal-webhook-id

# JWT secret for auth
JWT_SECRET=supersecret_jwt

# Seed admin credentials (used by prisma seed script)
SEED_ADMIN_EMAIL=admin@lovelink.local
SEED_ADMIN_PASSWORD=changeme
